<!DOCTYPE html>
{% load static %}
{% load static tailwind_tags %}
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="author" content="Mauricio Galeano>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <title>{%block title %} {%endblock%}</title>
    {%block seo_tags %}
    {%endblock%}
    {%block css_files%} {%endblock%}
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/tailwind/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="{% static 'js/libs/htmx.min.js' %}"></script>
    <script src="{% static 'js/libs/alpinejs.min.js' %}"></script>

</head>

<body class="hold-transition sidebar-mini">
    {%block content%} {%endblock%}
</body>
{%block js_files%} {%endblock%}

</html>